*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#050510,#1b0036,#3f0a5f,#7b006e);

background-size:400% 400%;

animation:bgMove 15s infinite;

color:white;

}

@keyframes bgMove{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.container{

width:90%;

max-width:900px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

text-align:center;

box-shadow:0 0 40px rgba(255,255,255,.1);

}

h1{

font-family:Great Vibes;

font-size:70px;

color:#ffd4ef;

margin-bottom:10px;

}

p{

font-size:20px;

margin-bottom:20px;

}

#score{

font-size:22px;

margin-bottom:20px;

}

#gameArea{

position:relative;

width:100%;

height:450px;

border-radius:20px;

overflow:hidden;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.1);

}

.heart{

position:absolute;

font-size:38px;

cursor:pointer;

user-select:none;

transition:.2s;

}

.heart:hover{

transform:scale(1.2);

}

#message{

margin-top:25px;

height:35px;

}

#nextButton{

display:none;

margin-top:20px;

padding:18px 45px;

font-size:20px;

border:none;

border-radius:50px;

background:#ff4f92;

color:white;

cursor:pointer;

transition:.3s;

}

#nextButton:hover{

transform:scale(1.08);

box-shadow:0 0 30px hotpink;

}