*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(180deg,#080815,#170d36,#2b0b4f,#090312);
font-family:Poppins,sans-serif;
}

.stars{
position:absolute;
width:100%;
height:100%;
background-image:radial-gradient(white 1px,transparent 1px);
background-size:40px 40px;
opacity:.35;
animation:stars 80s linear infinite;
}

@keyframes stars{
from{transform:translateY(0);}
to{transform:translateY(-800px);}
}

.moon{
position:absolute;
right:80px;
top:60px;
width:120px;
height:120px;
border-radius:50%;
background:white;
box-shadow:0 0 40px white;
}

#envelope{

width:320px;
height:210px;

background:#ff5f99;

position:absolute;

cursor:pointer;

border-radius:10px;

transition:1s;

box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.cover{

position:absolute;

width:100%;
height:100%;

background:#ff78ad;

clip-path:polygon(0 0,100% 0,50% 55%);

transition:1s;

transform-origin:top;

}

.paper{

position:absolute;

width:92%;
height:92%;

left:4%;
top:4%;

background:white;

border-radius:10px;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

font-size:24px;

color:#444;

transition:1s;

}

#letterBox{

display:none;

width:85%;

max-width:900px;

height:80vh;

padding:40px;

overflow-y:auto;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:25px;

color:white;

z-index:5;

}

#title{

font-family:Great Vibes;

font-size:70px;

text-align:center;

margin-bottom:30px;

color:#ffd8ef;

}

#letter{

font-size:22px;

line-height:40px;

white-space:pre-line;

}

#next{

display:none;

margin:40px auto;

padding:18px 40px;

font-size:20px;

border:none;

border-radius:40px;

background:#ff4f92;

color:white;

cursor:pointer;

display:block;

}