*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(to bottom,#020111,#09052c,#1d0b45,#2f0d63);

font-family:Poppins,sans-serif;

color:white;

}

.moon{

position:absolute;

top:60px;

right:80px;

width:130px;

height:130px;

border-radius:50%;

background:white;

box-shadow:
0 0 40px white,
0 0 80px rgba(255,255,255,.5);

}

.stars{

position:absolute;

width:100%;

height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:45px 45px;

opacity:.35;

animation:starsMove 70s linear infinite;

}

@keyframes starsMove{

from{
transform:translateY(0);
}

to{
transform:translateY(-700px);
}

}

.card{

position:relative;

z-index:5;

width:90%;

max-width:900px;

padding:60px;

background:rgba(255,255,255,.07);

backdrop-filter:blur(18px);

border-radius:25px;

text-align:center;

}

h1{

font-family:Great Vibes;

font-size:70px;

margin-bottom:35px;

color:#ffd7ef;

}

#text{

font-size:25px;

line-height:45px;

min-height:240px;

}

#nextBtn{

display:none;

margin-top:35px;

padding:18px 45px;

border:none;

border-radius:50px;

background:#ff4f92;

font-size:20px;

color:white;

cursor:pointer;

}

#musicBtn{

position:absolute;

bottom:30px;

right:30px;

padding:15px 35px;

border:none;

border-radius:50px;

background:linear-gradient(45deg,#ff4f92,#ff85b3);

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

box-shadow:
0 0 20px rgba(255,79,146,.7);

transition:.4s;

}


#musicBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 35px rgba(255,79,146,1);

}


#nextBtn{

transition:.4s;

box-shadow:
0 0 20px rgba(255,79,146,.6);

}


#nextBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 35px rgba(255,79,146,1);

}


#text{

transition:opacity .8s ease;

}