*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(to bottom,#01010d,#14062f,#2a0d58,#05000a);

font-family:Poppins,sans-serif;

color:white;

}

.background{

position:absolute;

width:100%;

height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:40px 40px;

opacity:.35;

animation:moveStars 70s linear infinite;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-800px);

}

}

.glass{

position:relative;

z-index:5;

width:90%;

max-width:900px;

padding:60px;

text-align:center;

border-radius:30px;

background:rgba(255,255,255,.07);

backdrop-filter:blur(18px);

}

#title{

font-family:Great Vibes;

font-size:72px;

color:#ffd7ef;

margin-bottom:35px;

}

#message{

font-size:25px;

line-height:45px;

min-height:260px;

transition:.8s;

}

#nextBtn{

display:none;

margin-top:35px;

padding:18px 45px;

font-size:20px;

border:none;

border-radius:40px;

background:#ff4f92;

color:white;

cursor:pointer;

transition:.3s;

}

#nextBtn:hover{

transform:scale(1.08);

box-shadow:0 0 25px hotpink;

}

#musicBtn{

position:absolute;

bottom:30px;

right:30px;

padding:15px 35px;

border:none;

border-radius:50px;

background:linear-gradient(45deg,#ff4f92,#ff85b3);

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

box-shadow:0 0 20px rgba(255,79,146,.7);

transition:.4s;

}


#musicBtn:hover{

transform:scale(1.1);

box-shadow:0 0 35px rgba(255,79,146,1);

}


#nextBtn{

box-shadow:0 0 20px rgba(255,79,146,.6);

}


#nextBtn:hover{

transform:scale(1.1);

box-shadow:0 0 35px rgba(255,79,146,1);

}